*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2019
.vs/
lib
/Web/Mayor.Web/appsettings.Development.json
/src/Web/Mayor.Web/wwwroot/img/57a0848c-7529-4637-ae6d-a3dbbcc51f40.jpg
/src/Web/Mayor.Web/wwwroot/img/7883f18b-8d37-4e0f-9349-ade86ef9a154.jpg
/src/Web/Mayor.Web/wwwroot/img/0ad4fec7-8bbd-4e6b-9760-4ddbab107737.jpg
/src/Web/Mayor.Web/wwwroot/img/8ab05345-68d8-44dd-8dde-5a208ce7dcb1.jpg
/src/Web/Mayor.Web/wwwroot/att/issues/6a309452-7619-4620-8dec-b3e05b606d9e.docx
/src/Web/Mayor.Web/wwwroot/att/issues/443bb861-8b02-437b-b4ca-827e38609840.pdf
