@{
    this.ViewData["Title"] = "About Mayor";
}

<h1 class="col-12" style="color:tomato; margin-bottom:25px;">@this.ViewData["Title"]</h1>
<hr class="tm-hr-primary tm-mb-55" style="margin-bottom:25px;">

<p style="margin-bottom: 35px;">
    Mayor is a project created during my ASP.NET module in SoftUni (Software University). It's sole purpose is to
    help citizens all over the world build the community they want to live in. In our technologically advanced world,
    problems are demanding solutions in everyday life. Mayor is the platform your community is looking for -
    so lets get started, <a asp-area="Identity" asp-controller="Account" asp-action="Register">create an account</a>,
    select your user type, Citizen (issue-creator), or Institution (issue-solver) and start improving your community!
</p>