@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<hr class="tm-hr-primary" style="margin-bottom:25px;">
<div class="p-3 mb-2 bg-success text-dark">@Model.StatusMessage</div>