@using Mayor.Web.Areas.Identity.Pages.Account.Manage
@model IndexModel
@{
}

<div class="form-group">
    <label asp-for="Input.FirstName" class="issue-form-lbl"></label>
    <input asp-for="Input.FirstName" class="form-control" />
    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Input.LastName" class="issue-form-lbl"></label>
    <input asp-for="Input.LastName" class="form-control" />
    <span asp-validation-for="Input.LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Input.Birthdate" class="issue-form-lbl"></label>
    <input asp-for="Input.Birthdate" class="form-control" type="date" />
    <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="gender-type-radios" class="issue-form-lbl">Sex</label>
    <div class="form-control" id="gender-type-radios">
        <div class="form-row">
            <div class="col-6">
                @Html.RadioButtonFor(model => model.Input.Sex, "false", new { id = "male" })
                @Html.Label("male", "Male")
            </div>
            <div class="col-6">
                @Html.RadioButtonFor(model => model.Input.Sex, "true", new { id = "female" })
                @Html.Label("female", "Female")
            </div>
        </div>
    </div>
    <span asp-validation-for="Input.Sex" class="text-danger"></span>
</div>
<div class="form-group">
    <input asp-for="Input.IsCitizen" style="display:none;" class="form-control" value="true"/>
</div>