@using Mayor.Web.ViewModels.Issue
@model CreateIssueInputModel
@{
    this.ViewData["Title"] = "New Issue";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1 style="color:tomato;">@this.ViewData["Title"]</h1>
<hr class="tm-hr-primary" style="margin-bottom:35px;">

<div class="form-wrapper @*border border-dark rounded-pill*@">

    <form method="POST" style="margin-top: 30px;" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Title" class="issue-form-lbl">Title</label>
                <input asp-for="Title" id="title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group col-4 offset-1">
                <label asp-for="Address.Street" class="issue-form-lbl">Street</label>
                <input asp-for="Address.Street" id="street" class="form-control">
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group col-2">
                <label asp-for="Address.Number" class="issue-form-lbl">Num</label>
                <input asp-for="Address.Number" id="number" class="form-control">
                <span asp-validation-for="Address.Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label asp-for="Description" class="issue-form-lbl">Description</label>
                <textarea asp-for="Description" id="description" class="form-control" rows="11"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="formg-group col-6 offset-1">
                <div class="form-row">
                    <div class="form-group col-8">
                        <label asp-for="Address.City" class="issue-form-lbl">City</label>
                        <input asp-for="Address.City" id="city" class="form-control">
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Address.PostalCode" class="issue-form-lbl">ZIP</label>
                        <input asp-for="Address.PostalCode" id="post-code" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <label asp-for="Tags" class="issue-form-lbl">Tags</label>
                        <textarea asp-for="Tags" id="tags" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="col-5" style="margin-top:15px;">
                        <label asp-for="CategoryId" class="issue-form-lbl">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <div class="custom-file">
                            <label asp-for="TitlePicture" class="issue-form-lbl">Title Picture</label>
                            <input asp-for="TitlePicture" type="file" style="color:transparent;">
                            <span asp-validation-for="TitlePicture" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-5 offset-1">
                        <div class="custom-file">
                            <label asp-for="Attachments" class="issue-form-lbl">Attachments</label>
                            <input asp-for="Attachments" type="file" style="color:transparent;" multiple>
                            <span asp-validation-for="Attachments" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-info col-6 offset-2">Submit</button>
    </form>
</div>